<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehaviour">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="WcfService1.Service1" behaviorConfiguration="mexBehaviour">
        <endpoint address="Service1" binding="basicHttpBinding" contract="WcfService1.IService1">
        </endpoint>
        <endpoint address="Service1" binding="netTcpBinding" contract="WcfService1.IService1">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="WcfService1.IService1" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080" />
            <add baseAddress="net.tcp://localhost:8090" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>
