<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICalculator" />
                <binding name="BasicHttpBinding_ICalculator1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50560/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICalculator" contract="ServiceReference2.ICalculator"
                name="BasicHttpBinding_ICalculator" />
            <endpoint address="http://localhost:50560/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICalculator1" contract="ServiceReference3.ICalculator"
                name="BasicHttpBinding_ICalculator1" />
        </client>
    </system.serviceModel>
</configuration>